.cell {
  position: relative;
  padding: 12px 15px;
  background: #fff;
  display: flex;
  align-items: center;
  font-family: PingFangSC-Regular;
}
.cell__bd {
  font-size: 18px;
  color: #444444;
  flex: 1;
}
.cell__navigate {
  font-size: 13px;
  color: #8E8E93;
  letter-spacing: 0;
}
.cell__navigate img {
  width: 10px;
  height: 20px;
  margin-left: 12px;
}
